<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("partials/header") %>
        <h1>Category by ID</h1>

        <h3>
            <%= category.name %>
        </h3>
        <p>
            <%= category.description %>
        </p>
        <button onclick="location.href = '/categories/<%= category.id %>/edit'">Edit</button>
        <form action="/categories/<%= category.id %>/delete" method="POST">
            <button type="submit" onclick="return confirm('Delete this category?');">
                Delete
            </button>
        </form>
</body>