<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <%- include("partials/header") %>
        <h1>All categories</h1>

        <div>
            <% if (!categories || categories.length===0) { %>
                <p>There is currently no categories.</p>
                <% } else { %>
                    <% categories.forEach((category)=> { %>
                        <h3>
                            <%= category.name %>
                        </h3>
                        <p>
                            <%= category.description %>
                        </p>
                        <button onclick="location.href = '/categories/<%= category.id %>'">View</button>
                        <form action="/categories/<%= category.id %>/delete" method="POST">
                            <button type="submit" onclick="return confirm('Delete this category?');">
                                Delete
                            </button>
                        </form>
                        <% }) %>
                            <% } %>
        </div>
</body>